*{
    box-sizing: border-box;
    margin: 0;
    padding: 1px;
}

body{
    min-height: 100vh;
    display: grid;
    place-content: center;
}
#calculadora {
    background-color: rgb(131, 131, 131);
    border-radius: 15px;
    padding: 5px;
}
#botones{
    margin: 8px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(4,85px);
    padding: 5px;
    background-color: rgb(131, 131, 131);
}
button{
    margin: 5px;
    border: 1px #fff;
    width: 80px;
    height: 80px;
    border-radius: 62px;
    font-size: 25px;
}
button:hover{
    filter: brightness(90%);
    }
    button:active{
    width: 70px;
    height: 70px;
    margin: 10px;
}
.operaciones{
    background-color: rgb(255, 93, 35);
}
input{
    outline: none;
    margin-top: 10px;
    border: 0;
    padding: 7px;
    font-size: 24px;
    text-align: right;
    width: 92%;
    border-radius: 32px;
    display: inline-block;
    margin: 13px;
    

}
